*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}
/* header//navbar */
/* #btnforcart{
    display: none;
   padding: 10px;
   font-size: 20px;
    width: 100%;
    border-radius: 20px;
    border: white;
    background-color: black;
    color: white;
    transition: all ease .5s;
}

#btnmennu{
    display: none;
}
#btnforcart:hover{
    background-color: white;
    color: black;
} */
.nav-bar{
    display: flex;
    justify-content: space-between;
}
header{
    padding: 10px;
    background-color: black;
}

#nav-list{
    display: flex;
    list-style:none;
    
}
#nav-list li{
    padding: 10px;
    
}
#nav-list a{
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: all ease .5s;
}

#nav-list li a:hover ,#nav-list li a:active{
    background-color: white;
    color: black;
}
#logo_title a{
    text-decoration:  none;
    font-size: 1.7em;
    color: white;
    
}

/* home//main img */
/* home */
#mainIMG{
    display: none;
}
.forimghere{
  
   
}
.container{
 
 
 padding: 40px;
 

}
/* tiles */
.maintiles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tile {
    text-align: center;
    position: relative;
   
}

#tile-1 img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    
    
}
#tile-2 img{
    border-radius: 20px;
    width:  400px;
    height:  400px;
    
}
.about-tile{
    padding: 20px;
position: absolute;
bottom: 0;
background-color: black;
color: white;
width: 90%;
overflow: hidden ;
opacity: .7;
border-bottom-left-radius:20px ;
border-bottom-right-radius:20px ;
}
#tile-1 img:hover{
    box-shadow:   1px 1px 10px black;
    cursor: pointer;
}
#tile-2 img:hover{
    box-shadow:   1px 1px 10px black;
    cursor: pointer;
}
/* end tiles */

/* footer */
footer{
   
    background-color: black;
    color: white;
}
#foot{
    display: flex;
    justify-content: space-between;
}
#foot p{
    color: aquamarine;
}
#foot-1 ,#foot-2,#foot-3{
    width: 50%;
}
.hr-resp{
    display: none;
}
.copywrite{
    text-align: center;
}
/* end footer */





/* end homePage-----------------------------------------*/

/* Menu-page-------------------------------------------- */
.menu{
    padding: 40px;
}

.container-items{
padding: 20px;
}
.menu-title{
text-align: center;
margin-bottom:20px ;
}
#show-1 img,#show-2 img,#show-3 img,#show-4 img{
width: 500px;
height: 300px;
}
#show-5 img{
    width: 100%;
    height: 300px;
}
#menu-tiles-1,#menu-tiles-2,#menu-tiles-3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:20px ;
}
.show-tile{
    transition: all ease .5s;
}
.show-tile a{
    text-decoration: none;
    color: black;
}
.show-tile img{
    border-radius: 20px;
}
.show-tile{
border-radius: 20px;
}
.show-tile:hover{
    box-shadow:   1px 1px 10px black;
    cursor: pointer;

    
}

#tile-title{
    text-align: center;

}

/* menu-page end---------------------------------------- */


/* beverage section start ---------------------------- */
#btnforcart{
    
    padding: 10px;
    font-size: 20px;
     width: 100%;
     border-radius: 20px;
     border: white;
     background-color: black;
     color: white;
     transition: all ease .5s;
 }
 
 #btnmennu{
     display: none;
 }
 #btnforcart:hover{
     background-color: white;
     color: black;
 }
 .B-item img{
     width: 500px;
 height: 300px;
 border-radius: 10px;
 box-shadow:   1px 1px 10px black;

 }
 
 .bererage-item-tiles{
     display: flex;
     justify-content: space-evenly;
 }
 .B-item-title{
     text-align: center;
     padding: 10px;
 }
 .B-item{
     margin: 10px;
 }
 .B-item-rupee{
    text-align: center;
 }
 .B-btn{
 padding: 10px;
 background-color: rgb(255, 200, 0);
 color: white;
 border: 2px rgb(255, 200, 0) solid;
 width: 90%;
 transition: all ease .5s;
 cursor: pointer;
 border-radius: 20px;
 }
 .B-item:hover{
 
 }
 .B-btn:hover{
     background-color: white;
     color: rgb(255, 200, 0);
 }
 .B-btn-con{
     text-align: center;
 }

/*________________ responsive ______________ */
/* forSLargeScreen */
@media (min-width:1200px) 
{
    .forimghere{
  
        border: 2px black solid;
        background:url("../resource/mainIMG_1200.jpg") no-repeat ;
        background-size: 100%;
        border-radius: 20px;
        height: 575px;
    }
    .B-item img{
        width: 400px;
    }
  
   
}
/* forLargeScreen */
@media (min-width:993px) and (max-width:1199px) {
    .forimghere{
        border: 2px black solid;
        background:url("../resource/mainIMG_992.jpg") no-repeat ;
        background-size: 100%;
        border-radius: 20px;
        height: 475px;
    }
    /* mene section */
    #show-1 img,#show-2 img,#show-3 img,#show-4 img{
        width: 400px;
        
    }
    .B-item img{
        width: 300px;
    }

}
/* superMID */
@media (max-width:992px ) {
    header{
        font-size: .8rem;
    }
    .forimghere{
        border: 2px black solid;
        background:url("../resource/mainIMG_992.jpg") no-repeat ;
        background-size: 100%;
        border-radius: 20px;
        height: 375px;
    }
    
    #tile-1 img{
        width: 300px;
        height: 300px;
        
    }
    #tile-2 img{
        width: 300px;
        height: 300px;
    
    }
    #foot{
        font-size: 2vw;
    }
    /* menu section */
    #show-1 img,#show-2 img,#show-3 img,#show-4 img{
        width: 300px;
        
    }
    .B-item img{
        width: 300px;
    }

}
/* forMIDscreen */
@media (max-width:768px) {
    header{
        font-size: .7rem;
    }
    .forimghere{
        border: 2px black solid;
        background:url("../resource/mainIMG_992.jpg") no-repeat ;
        background-size: 100%;
        border-radius: 20px;
        height: 275px;
    }
    .about-tile{
        width: 89%;
    }
    /* menu section */
    #show-1 img,#show-2 img,#show-3 img,#show-4 img{
        width: 200px;
        height: 250px;
        
    }
    #show-5 img{
        width: 200px;
        height: 250px;
    }
    .bererage-item-tiles{
        display: block;
    }
    .B-item img{
        width: 100%;
    }
    
}
/* forSmallScreen */
@media (max-width:665px){
    header{
        position: relative;
    }
    .nav-bar{
        display: flex;
        text-align: center;
    }
    #nav_links{
        position: absolute;
        background-color: aqua;
        width:200px;
        height: 100vh;
        left: -500px;
        top:50px;
        transition: all ease .5s;
        z-index: 999;
    }
    #nav-list{
        display: block;
        
    }
    #nav-list li a{

        padding: 10px;
    }
    #nav-list li{
        text-align: center;
    }
    #btnmennu{
        display: block;
        /* position: absolute; */
        
    }
    #menubtn{
        background-color: black;
        color: white;
       border: none;
        
    }
    #mainIMG{
        display: block;
        width: 100%;
        border-radius: 20px;
    }
    .forimghere{
        background: none;
        border: none;
        height: auto
    }
    .maintiles{
        
        display: block;
    }
    .tile{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #tile-1 img{
        border-bottom-left-radius:0 ;
        border-bottom-right-radius:0 ;
        width: 80%;
        height: auto;

    }
    
    #tile-2 img{
        border-bottom-left-radius:0 ;
        border-bottom-right-radius:0 ;
        width: 80%;
        height: auto;

    }
    .about-tile{
        position: static;
        width: 68vw;
    }

    #foot{
        display: block;
        text-align: center;
    }
    #foot-1,#foot-2,#foot-3{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .hr-resp{
        display: block;
        color: white;
        
    }
   .copy{
    font-size: .7rem;
    }
    /* menu section  */
    #menu-tiles-1,#menu-tiles-2,#menu-tiles-3{
        text-align: center;
        display: block;
    }
    #show-1 img,#show-2 img,#show-3 img,#show-4 img,#show-5 img{
        width: 100%;
        /* height: 250px; */
        
    }

}
@media (max-width:378px){
    #cart_btn button ,#cart_btn svg{
        font-size: 12px;
    }
}